<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/aboutpage.css" media="screen">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <script src="/static/aboutpage.js"></script>

    <title>Akshi</title>

</head>

<body style="width:fit-content;padding: 1%;border:2px salmon">
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="home">Home</a>
        <a href="about">About</a>
        <a href="testcamera">Camera</a>


    </div>


    <section class="section-1">
        <button class="openbtn" onclick="openNav()">☰</button>
        <!-- <img src="/static/aboutpageimage1.jpg" style=""> -->
        <div class="heading-1">
            <h4
                style="font-size: x-large;color: aliceblue;text-transform: uppercase;overflow-wrap:calc();text-align: center;">
                An assistance system for
                visually challenged using Machine Learning</h4>

        </div>


    </section>
    <section class="section-2">
        <div class="imageaboutproject">
            <img class="" style="width:100%" src=" /static/aboutpageimage2.jpg">


        </div>
        <div class="heading-2">
            <h2 style="font-family: Raleway;padding-top: 10%;margin: 5%;">
                <strong>
                    About the Project
                </strong>
            </h2>
            <p class="" style="text-align: justify;margin: 5%;font-size:24px ;font-family: Raleway">
                This
                work focuses on emotion
                recognition. Emotion reveals valuable information regarding human
                communications. It is common to use facial expressions to express
                emotions
                during a conversation and some interpersonal communication can be
                achieved
                using facial expressions only. If a machine were able to interpret its
                user’s
                facial expression correctly, it might be able to help its user more
                efficiently. In this work, an emotion recognition system is introduced
                for the
                visually impaired people using machine learning. Machine learning is one
                of the
                current technologies that use computers to perform tasks like humans.
                Inspired
                by the advances in Convolutional Neural Networks (CNNs) achieved in
                image
                recognition and classification, we propose an approach to address this
                problem.
                The experimental results show that after adopting this method, overall
                robustness and accuracy of facial expression recognition have been
                greatly
                improved compared to those obtained by transfer learning.</p>

        </div>
        <div class="heading-3">
            <p class="" style=" font-size:24px;font-family: Raleway;text-align: justify;margin: 1%;">
                <span> Facial
                    expression which is used to represent various emotion’s is the most
                    effective
                    form of non-verbal communication, and it provides intimation about
                    emotional
                    state, mindset, and intention.<br>
                    <br>Entire
                    project is subdivided into the following steps five steps that’s
                    Image
                    acquisition, face detection, feature extraction, emotion recognition
                    or
                    classification we have used FER2013 dataset which consists of 35,685
                    examples
                    of 48x48 pixel grayscale images of faces.&nbsp;&nbsp;
                </span>
                <br>
            </p>

        </div>





    </section>
    <section class="section-3">
        <div class="heading-4">
            <h2 style="font-family: Raleway;padding-top: 5%;margin: 5%;">
                <strong>
                    Methodology Adopted
                </strong>
            </h2>
            <ol style="font-family: Raleway;text-align: justify;font-size: 24px;">
                <li>
                    <span style="font-weight: 700;">Data Pre-processing</span>:-&nbsp;First step was to
                    select
                    appropriate dataset so for our project work we opted for FER 2013 dataset.<br>
                </li>
                <br>
                <li>
                    <span style="font-weight: 700;">Model training</span>:-&nbsp;We used pre-processing
                    techniques
                    including resizing, reshaping, and grayscale conversion.&nbsp;<br>
                </li>
                <br>
                <li>
                    <span style="font-weight: 700;">Implementation</span>:-&nbsp;We used two approaches one
                    is CNN
                    based and other transfer learning using FER dataset.<br>
                </li>
                <br>
                <li>
                    <span style="font-weight: 700;">Text to Speech Conversion</span>:- In this stage our
                    model will
                    be used for real time emotion identification from web camera of laptop desktop and the
                    emotion,
                    which is classified will be expressed as an audio through audio device.&nbsp;<br>
                </li>
            </ol>

        </div>
        <div class="imageworkflow">
            <img style="width:100%" src="/static/TRAINING MODEL (1).png">


        </div>

    </section>
    <section class="section-4">
        <div class="imagefeatures">
            <img src="/static/aboutpageimage3.png" width="280px" height="400px">
        </div>

        <div class="heading-5">
            <hr style="width:100%;text-align:left;margin: auto;color: black;">
            <h2 style="font-family: Raleway;padding-top: 5%;margin: 5%;">
                <strong>
                    Features of our Project
                </strong>
            </h2>
            <ol style="font-family: Raleway;text-align: justify;font-size: 24px;">
                <li>
                    <span style="font-weight: 700; font-size: 1.125rem;">It
                        can be helpful for the better interaction among the blind and normal
                        person </span>
                </li>
                <li>
                    <span style="font-weight: 700; font-size: 1.125rem;">Blind can be more open
                        to other person if knowing the expression </span>
                </li>
                <li>
                    <span style="font-weight: 700; font-size: 1.125rem;">Dont need to rely on
                        3rd person for considering emotion expression of other </span>
                </li>
                <li>
                    <span style="font-weight: 700; font-size: 1.125rem;">Our
                        project aims for better development of the blind among society </span>
                </li>
                <li>
                    <span style="font-weight: 700; font-size: 1.125rem;">Individuals with autism
                        frequently fail to react appropriately to the emotions
                        of others, and researchers have suggested that an impairment in
                        emotional
                        expression recognition may contribute to these inappropriate reactions
                        and to
                        their understanding of emotion in general.</span>
                </li>
            </ol>
            <hr style="width:90%;text-align:left;margin: auto;color: black;">


        </div>


    </section>
    <section class="section-5">
        <div class="heading-6">

            <a class="u-social-url" target="_blank" data-type="Custom" title="Github"
                href="https://github.com/ritikverma2000/Akshi"><span class=""><img src="/static/aboutpageimage4.jpg"
                        style="width: 50%;" alt=""></span>
            </a>

        </div>


    </section>


</body>

</html>