<!DOCTYPE html>
<html lang="en">

<head>
    <title>Akshi</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/index.css" media="screen">
</head>

<body>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="home">Home</a>
        <a href="about">About</a>
        <a href="testcamera">Camera</a>



    </div>


    <div class="hero-image">
        <button class="openbtn" onclick="openNav()">☰</button>
        <div class="hero-text">
            <h1 style="font-size:50px">Akshi - An assistance system for visually challenged</h1>
            <p></p>

        </div>
    </div>



</body>