<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>

            <img style="height: 500px;width: 500px;margin-top: 5%;margin-left: 5%" src="{{ url_for('video_feed') }}">

<!--            <form method="post" action="{{ url_for('camera') }}">-->

<!--        <input style="margin: auto auto 2%;" type="submit" class="btn btn-primary btn-sm" value="Stop/Start"-->
<!--               name="stop"/>-->


<!--    </form>-->
        </div>
    </div>
</div>
</body>
</html>